.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar{
    width: 100vw;
    height: 10vh;
    /* background: sandybrown; */
    display: grid;
    grid-template-columns: 70fr 10fr 10fr 10fr;
}
.navBar h2,.navBar h3{
    padding: 0 50px;
}
